In [71]:
!pip show pandas

Name: pandas
Version: 2.2.2
Summary: Powerful data structures for data analysis, time series, and statistics
Home-page: https://pandas.pydata.org
Author:
Author-email: The Pandas Development Team <pandas-dev@python.org>
License: BSD 3-Clause License

Copyright (c) 2008-2011, AQR Capital Management, LLC, Lambda Foundry, Inc. and PyData Development Team
All rights reserved.

Copyright (c) 2011-2023, Open source contributors.

Redistribution and use in source and binary forms, with or without
modification, are permitted provided that the following conditions are met:

* Redistributions of source code must retain the above copyright notice, this
  list of conditions and the following disclaimer.

* Redistributions in binary form must reproduce the above copyright notice,
  this list of conditions and the following disclaimer in the documentation
  and/or other materials provided with the distribution.

* Neither the name of the copyright holder nor the names of its
  contributors may be used to endorse or promote products derived from
  this software without specific prior written permission.

THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE
FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR
SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER
CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY,
OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
Location: C:\Python312\Lib\site-packages
Requires: numpy, python-dateutil, pytz, tzdata
Required-by: seaborn

# pandas for analysis
- dataset
   -dictionary of items
   -csv file
   -excel file
   -json file
   -sql connection
- creating dataframe
- reading  data
- manipulating data
- cleaning data
- visualizing data

In [72]:
import pandas as pd

In [73]:
books = {
    'title':['the art of war','the final empire'],
    'author': ['sun Tzu','Brandon Sanderson'],
    'price':[399,1099],
}
pd.DataFrame(books)

              title             author  price
0    the art of war            sun Tzu    399
1  the final empire  Brandon Sanderson   1099

In [74]:
movie = [
    {'title':"PK",'director':"Rajkumar Hirani",'Year':2014},
    {'title':"I",'director':"Shankar",'Year':2015},
   
]
pd.Dataframe(movie)

AttributeError: module 'pandas' has no attribute 'Dataframe'

In [ ]:
pd.read_csv('dummy.csv')

In [ ]:
pd.read_json('dummy.json')

In [ ]:
pd.read_excel(r"C:\Users\91638\Documents\dummy.xlsx")

In [ ]:
url='https://raw.githubusercontent.com/digipodium/Datasets/main/regression/kc_house_data.csv'
df = pd.read_csv(url)

first strps after reading the data
- `df.head(nrows)` - first n rows
- `df.tail(nrows)` - last n rows
-  `df.sample(nrows)` - random n rows
-  `df.info()` -datatypes,missing values
- `df.describe()`-summary statices
- `df.shape` - number of rows and columns
- `df.columns` -column naames

In [ ]:
df.head(2)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639

In [ ]:
df.tail()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
21608,263000018,20140521T000000,360000.0,3,2.50,1530,1131,3.0,0,0,...,8,1530,0,2009,0,98103,47.6993,-122.346,1530,1509
21609,6600060120,20150223T000000,400000.0,4,2.50,2310,5813,2.0,0,0,...,8,2310,0,2014,0,98146,47.5107,-122.362,1830,7200
21610,1523300141,20140623T000000,402101.0,2,0.75,1020,1350,2.0,0,0,...,7,1020,0,2009,0,98144,47.5944,-122.299,1020,2007
21611,291310100,20150116T000000,400000.0,3,2.50,1600,2388,2.0,0,0,...,8,1600,0,2004,0,98027,47.5345,-122.069,1410,1287
21612,1523300157,20141015T000000,325000.0,2,0.75,1020,1076,2.0,0,0,...,7,1020,0,2008,0,98144,47.5941,-122.299,1020,1357

In [ ]:
df.sample(3)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
305,5016001535,20150217T000000,725000.0,3,1.75,1920,3300,1.0,0,0,...,8,960,960,1913,0,98112,47.6239,-122.298,1740,4000
3500,2288000090,20150429T000000,980000.0,4,1.75,2260,17711,1.0,0,1,...,9,2260,0,1968,0,98040,47.5498,-122.214,2880,16594
4580,6398000011,20140602T000000,789000.0,3,3.00,3740,39640,2.0,0,2,...,10,3740,0,1991,0,98070,47.4036,-122.462,2930,26136

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21613 non-null  int64
 1   date           21613 non-null  object
 2   price          21613 non-null  float64
 3   bedrooms       21613 non-null  int64
 4   bathrooms      21613 non-null  float64
 5   sqft_living    21613 non-null  int64
 6   sqft_lot       21613 non-null  int64
 7   floors         21613 non-null  float64
 8   waterfront     21613 non-null  int64
 9   view           21613 non-null  int64
 10  condition      21613 non-null  int64
 11  grade          21613 non-null  int64
 12  sqft_above     21613 non-null  int64
 13  sqft_basement  21613 non-null  int64
 14  yr_built       21613 non-null  int64
 15  yr_renovated   21613 non-null  int64
 16  zipcode        21613 non-null  int64
 17  lat            21613 non-null  float64
 18  long           21613 non-null  float64
 19  sqft_living15  21613 non-null  int64
 20  sqft_lot15     21613 non-null  int64
dtypes: float64(5), int64(15), object(1)
memory usage: 3.5+ MB

In [ ]:
df.describe()  #summary statistics for numerical columns (default)

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
count,2.161300e+04,2.161300e+04,21613.000000,21613.000000,21613.000000,2.161300e+04,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000
mean,4.580302e+09,5.400881e+05,3.370842,2.114757,2079.899736,1.510697e+04,1.494309,0.007542,0.234303,3.409430,7.656873,1788.390691,291.509045,1971.005136,84.402258,98077.939805,47.560053,-122.213896,1986.552492,12768.455652
std,2.876566e+09,3.671272e+05,0.930062,0.770163,918.440897,4.142051e+04,0.539989,0.086517,0.766318,0.650743,1.175459,828.090978,442.575043,29.373411,401.679240,53.505026,0.138564,0.140828,685.391304,27304.179631
min,1.000102e+06,7.500000e+04,0.000000,0.000000,290.000000,5.200000e+02,1.000000,0.000000,0.000000,1.000000,1.000000,290.000000,0.000000,1900.000000,0.000000,98001.000000,47.155900,-122.519000,399.000000,651.000000
25%,2.123049e+09,3.219500e+05,3.000000,1.750000,1427.000000,5.040000e+03,1.000000,0.000000,0.000000,3.000000,7.000000,1190.000000,0.000000,1951.000000,0.000000,98033.000000,47.471000,-122.328000,1490.000000,5100.000000
50%,3.904930e+09,4.500000e+05,3.000000,2.250000,1910.000000,7.618000e+03,1.500000,0.000000,0.000000,3.000000,7.000000,1560.000000,0.000000,1975.000000,0.000000,98065.000000,47.571800,-122.230000,1840.000000,7620.000000
75%,7.308900e+09,6.450000e+05,4.000000,2.500000,2550.000000,1.068800e+04,2.000000,0.000000,0.000000,4.000000,8.000000,2210.000000,560.000000,1997.000000,0.000000,98118.000000,47.678000,-122.125000,2360.000000,10083.000000
max,9.900000e+09,7.700000e+06,33.000000,8.000000,13540.000000,1.651359e+06,3.500000,1.000000,4.000000,5.000000,13.000000,9410.000000,4820.000000,2015.000000,2015.000000,98199.000000,47.777600,-121.315000,6210.000000,871200.000000

In [ ]:
df.describe(include='object')  #summary statistics for object columns

                   date
count             21613
unique              372
top     20140623T000000
freq                142

In [ ]:
df.shape   #no. of rows or columns

In [ ]:
print(df.columns.tolist())

['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade', 'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode', 'lat', 'long', 'sqft_living15', 'sqft_lot15']

In [ ]:
#simple sort
df.sort_values('price')

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
1149,3421079032,20150217T000000,75000.0,1,0.00,670,43377,1.0,0,0,...,3,670,0,1966,0,98022,47.2638,-121.906,1160,42882
15293,40000362,20140506T000000,78000.0,2,1.00,780,16344,1.0,0,0,...,5,780,0,1942,0,98168,47.4739,-122.280,1700,10387
465,8658300340,20140523T000000,80000.0,1,0.75,430,5050,1.0,0,0,...,4,430,0,1912,0,98014,47.6499,-121.909,1200,7500
16198,3028200080,20150324T000000,81000.0,2,1.00,730,9975,1.0,0,0,...,5,730,0,1943,0,98168,47.4808,-122.315,860,9000
8274,3883800011,20141105T000000,82000.0,3,1.00,860,10426,1.0,0,0,...,6,860,0,1954,0,98146,47.4987,-122.341,1140,11250
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1448,8907500070,20150413T000000,5350000.0,5,5.00,8000,23985,2.0,0,4,...,12,6720,1280,2009,0,98004,47.6232,-122.220,4600,21750
4411,2470100110,20140804T000000,5570000.0,5,5.75,9200,35069,2.0,0,0,...,13,6200,3000,2001,0,98039,47.6289,-122.233,3560,24345
9254,9208900037,20140919T000000,6885000.0,6,7.75,9890,31374,2.0,0,4,...,13,8860,1030,2001,0,98039,47.6305,-122.240,4540,42730
3914,9808700762,20140611T000000,7062500.0,5,4.50,10040,37325,2.0,1,2,...,11,7680,2360,1940,2001,98004,47.6500,-122.214,3930,25449
7252,6762700020,20141013T000000,7700000.0,6,8.00,12050,27600,2.5,0,3,...,13,8570,3480,1910,1987,98102,47.6298,-122.323,3940,8800

In [ ]:
# simple sort
df.sort_values('bedrooms')

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
9773,3374500520,20150429T000000,355000.0,0,0.00,2460,8049,2.0,0,0,...,8,2460,0,1990,0,98031,47.4095,-122.168,2520,8050
6994,2954400190,20140624T000000,1295650.0,0,0.00,4810,28008,2.0,0,0,...,12,4810,0,1990,0,98053,47.6642,-122.069,4740,35061
9854,7849202190,20141223T000000,235000.0,0,0.00,1470,4800,2.0,0,0,...,7,1470,0,1996,0,98065,47.5265,-121.828,1060,7200
19452,3980300371,20140926T000000,142000.0,0,0.00,290,20875,1.0,0,0,...,1,290,0,1963,0,98024,47.5308,-121.888,1620,22850
14423,9543000205,20150413T000000,139950.0,0,0.00,844,4269,1.0,0,0,...,7,844,0,1913,0,98001,47.2781,-122.250,1380,9600
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15161,5566100170,20141029T000000,650000.0,10,2.00,3610,11914,2.0,0,0,...,7,3010,600,1958,0,98006,47.5705,-122.175,2040,11914
13314,627300145,20140814T000000,1148000.0,10,5.25,4590,10920,1.0,0,2,...,9,2500,2090,2008,0,98004,47.5861,-122.113,2730,10400
19254,8812401450,20141229T000000,660000.0,10,3.00,2920,3745,2.0,0,0,...,7,1860,1060,1913,0,98105,47.6635,-122.320,1810,3745
8757,1773100755,20140821T000000,520000.0,11,3.00,3000,4960,2.0,0,0,...,7,2400,600,1918,1999,98106,47.5560,-122.363,1420,4960
15870,2402100895,20140625T000000,640000.0,33,1.75,1620,6000,1.0,0,0,...,7,1040,580,1947,0,98103,47.6878,-122.331,1330,4700

In [ ]:
#style the dataframe to highlight
#df.style.background_gradient(color='lightgreen')

# selecting data in pandas
- dataframe
 - row
    - iloc - index based location
    - loc - label based location
 - columns
    - single column selection
    - multiple column selection
    - column selection by data type
- conditional selection
    - boolean indexing
    - query method

In [ ]:
# select rows from iloc
df.iloc[100]   #idx 100 row

id                    1952200240
date             20140611T000000
price                   850830.0
bedrooms                       3
bathrooms                    2.5
sqft_living                 2070
sqft_lot                   13241
floors                       1.5
waterfront                     0
view                           0
condition                      5
grade                          9
sqft_above                  1270
sqft_basement                800
yr_built                    1910
yr_renovated                   0
zipcode                    98102
lat                      47.6415
long                    -122.315
sqft_living15               2200
sqft_lot15                  4500
Name: 100, dtype: object

In [ ]:
type(df)

pandas.core.frame.DataFrame

In [ ]:
#random 5 rows
df.iloc[[1,59,100,200,3000]]  #idx [1,59,100,200,300] rows

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
59,8079040320,20150223T000000,430000.0,4,3.00,1850,9976,2.0,0,0,...,8,1850,0,1991,0,98059,47.5059,-122.149,2270,8542
100,1952200240,20140611T000000,850830.0,3,2.50,2070,13241,1.5,0,0,...,9,1270,800,1910,0,98102,47.6415,-122.315,2200,4500
200,3542300060,20150311T000000,210000.0,3,1.00,860,11725,1.0,0,0,...,6,860,0,1943,0,98056,47.5093,-122.184,1300,9514
3000,8732040090,20150506T000000,307450.0,4,2.75,2690,8874,1.0,0,0,...,8,1370,1320,1980,0,98023,47.3078,-122.383,1990,7875

In [ ]:
#random 5 rows,with selected columns
df.iloc[[1,10,20],[0,11,12,3,4]]

            id  grade  sqft_above  bedrooms  bathrooms
1   6414100192      7        2170         3       2.25
10  1736800520      8        1860         3       2.50
20  6300500875      7         860         4       1.75

In [ ]:
df.iloc[15:50 ,:10]   #idx 15-49 rows,0-9 columns

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view
15,9297300055,20150124T000000,650000.0,4,3.00,2950,5000,2.0,0,3
16,1875500060,20140731T000000,395000.0,3,2.00,1890,14040,2.0,0,0
17,6865200140,20140529T000000,485000.0,4,1.00,1600,4300,1.5,0,0
18,16000397,20141205T000000,189000.0,2,1.00,1200,9850,1.0,0,0
19,7983200060,20150424T000000,230000.0,3,1.00,1250,9774,1.0,0,0
20,6300500875,20140514T000000,385000.0,4,1.75,1620,4980,1.0,0,0
21,2524049179,20140826T000000,2000000.0,3,2.75,3050,44867,1.0,0,4
22,7137970340,20140703T000000,285000.0,5,2.50,2270,6300,2.0,0,0
23,8091400200,20140516T000000,252700.0,2,1.50,1070,9643,1.0,0,0
24,3814700200,20141120T000000,329000.0,3,2.25,2450,6500,2.0,0,0
25,1202000200,20141103T000000,233000.0,3,2.00,1710,4697,1.5,0,0
26,1794500383,20140626T000000,937000.0,3,1.75,2450,2691,2.0,0,0
27,3303700376,20141201T000000,667000.0,3,1.00,1400,1581,1.5,0,0
28,5101402488,20140624T000000,438000.0,3,1.75,1520,6380,1.0,0,0
29,1873100390,20150302T000000,719000.0,4,2.50,2570,7173,2.0,0,0
30,8562750320,20141110T000000,580500.0,3,2.50,2320,3980,2.0,0,0
31,2426039314,20141201T000000,280000.0,2,1.50,1190,1265,3.0,0,0
32,461000390,20140624T000000,687500.0,4,1.75,2330,5000,1.5,0,0
33,7589200193,20141110T000000,535000.0,3,1.00,1090,3000,1.5,0,0
34,7955080270,20141203T000000,322500.0,4,2.75,2060,6659,1.0,0,0
35,9547205180,20140613T000000,696000.0,3,2.50,2300,3060,1.5,0,0
36,9435300030,20140528T000000,550000.0,4,1.00,1660,34848,1.0,0,0
37,2768000400,20141230T000000,640000.0,4,2.00,2360,6000,2.0,0,0
38,7895500070,20150213T000000,240000.0,4,1.00,1220,8075,1.0,0,0
39,2078500320,20140620T000000,605000.0,4,2.50,2620,7553,2.0,0,0
40,5547700270,20140715T000000,625000.0,4,2.50,2570,5520,2.0,0,0
41,7766200013,20140811T000000,775000.0,4,2.25,4220,24186,1.0,0,0
42,7203220400,20140707T000000,861990.0,5,2.75,3595,5639,2.0,0,0
43,9270200160,20141028T000000,685000.0,3,1.00,1570,2280,2.0,0,0
44,1432701230,20140729T000000,309000.0,3,1.00,1280,9656,1.0,0,0
45,8035350320,20140718T000000,488000.0,3,2.50,3160,13603,2.0,0,0
46,8945200830,20150325T000000,210490.0,3,1.00,990,8528,1.0,0,0
47,4178300310,20140716T000000,785000.0,4,2.50,2290,13416,2.0,0,0
48,9215400105,20150428T000000,450000.0,3,1.75,1250,5963,1.0,0,0
49,822039084,20150311T000000,1350000.0,3,2.50,2753,65005,1.0,1,2

In [ ]:
#selecting columns based on indexes
df.iloc[:,[0,5,10,11]]

               id  sqft_living  condition  grade
0      7129300520         1180          3      7
1      6414100192         2570          3      7
2      5631500400          770          3      6
3      2487200875         1960          5      7
4      1954400510         1680          3      8
...           ...          ...        ...    ...
21608   263000018         1530          3      8
21609  6600060120         2310          3      8
21610  1523300141         1020          3      7
21611   291310100         1600          3      8
21612  1523300157         1020          3      7

[21613 rows x 4 columns]

In [ ]:
df

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,263000018,20140521T000000,360000.0,3,2.50,1530,1131,3.0,0,0,...,8,1530,0,2009,0,98103,47.6993,-122.346,1530,1509
21609,6600060120,20150223T000000,400000.0,4,2.50,2310,5813,2.0,0,0,...,8,2310,0,2014,0,98146,47.5107,-122.362,1830,7200
21610,1523300141,20140623T000000,402101.0,2,0.75,1020,1350,2.0,0,0,...,7,1020,0,2009,0,98144,47.5944,-122.299,1020,2007
21611,291310100,20150116T000000,400000.0,3,2.50,1600,2388,2.0,0,0,...,8,1600,0,2004,0,98027,47.5345,-122.069,1410,1287
21612,1523300157,20141015T000000,325000.0,2,0.75,1020,1076,2.0,0,0,...,7,1020,0,2008,0,98144,47.5941,-122.299,1020,1357

In [ ]:
#updating index columns
df= df.set_index('id')
df.head()

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
id,,,,,,,,,,,,,,,,,,,,
7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [ ]:
df.loc[1954400510]

date             20150218T000000
price                   510000.0
bedrooms                       3
bathrooms                    2.0
sqft_living                 1680
sqft_lot                    8080
floors                       1.0
waterfront                     0
view                           0
condition                      3
grade                          8
sqft_above                  1680
sqft_basement                  0
yr_built                    1987
yr_renovated                   0
zipcode                    98074
lat                      47.6168
long                    -122.045
sqft_living15               1800
sqft_lot15                  7503
Name: 1954400510, dtype: object

### column selection
- dictionary like selection
    -`dataframe['column_name']
- object like selection
  -

In [ ]:
df['price']

id
7129300520    221900.0
6414100192    538000.0
5631500400    180000.0
2487200875    604000.0
1954400510    510000.0
                ...
263000018     360000.0
6600060120    400000.0
1523300141    402101.0
291310100     400000.0
1523300157    325000.0
Name: price, Length: 21613, dtype: float64

In [ ]:
df.bedrooms

id
7129300520    3
6414100192    3
5631500400    2
2487200875    4
1954400510    3
             ..
263000018     3
6600060120    4
1523300141    2
291310100     3
1523300157    2
Name: bedrooms, Length: 21613, dtype: int64

In [ ]:
df[['bedrooms','price','sqft_living']]

            bedrooms     price  sqft_living
id
7129300520         3  221900.0         1180
6414100192         3  538000.0         2570
5631500400         2  180000.0          770
2487200875         4  604000.0         1960
1954400510         3  510000.0         1680
...              ...       ...          ...
263000018          3  360000.0         1530
6600060120         4  400000.0         2310
1523300141         2  402101.0         1020
291310100          3  400000.0         1600
1523300157         2  325000.0         1020

[21613 rows x 3 columns]

In [ ]:
col_list = ['grade','condition','yr_built']
df[col_list]

            grade  condition  yr_built
id
7129300520      7          3      1955
6414100192      7          3      1951
5631500400      6          3      1933
2487200875      7          5      1965
1954400510      8          3      1987
...           ...        ...       ...
263000018       8          3      2009
6600060120      8          3      2014
1523300141      7          3      2009
291310100       8          3      2004
1523300157      7          3      2008

[21613 rows x 3 columns]

In [ ]:
#df.columns.to_list().index('grade')
df

#boolean indexing
df['column]>value
df['column]==value
df['column]!=value

In [ ]:
df[df['price']>1000000]

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
id,,,,,,,,,,,,,,,,,,,,
7237550310,20140512T000000,1225000.0,4,4.50,5420,101930,1.0,0,0,3,11,3890,1530,2001,0,98053,47.6561,-122.005,4760,101930
2524049179,20140826T000000,2000000.0,3,2.75,3050,44867,1.0,0,4,3,9,2330,720,1968,0,98040,47.5316,-122.233,4110,20336
822039084,20150311T000000,1350000.0,3,2.50,2753,65005,1.0,1,2,5,9,2165,588,1953,0,98070,47.4041,-122.451,2680,72513
1802000060,20140612T000000,1325000.0,5,2.25,3200,20158,1.0,0,0,3,8,1600,1600,1965,0,98004,47.6303,-122.215,3390,20158
1525059190,20140912T000000,1040000.0,5,3.25,4770,50094,1.0,0,0,4,11,3070,1700,1973,0,98005,47.6525,-122.160,3530,38917
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7430200100,20140514T000000,1222500.0,4,3.50,4910,9444,1.5,0,0,3,11,3110,1800,2007,0,98074,47.6502,-122.066,4560,11063
8672200110,20150317T000000,1088000.0,5,3.75,4170,8142,2.0,0,2,3,10,4170,0,2006,0,98056,47.5354,-122.181,3030,7980
191100405,20150421T000000,1575000.0,4,3.25,3410,10125,2.0,0,0,3,10,3410,0,2007,0,98040,47.5653,-122.223,2290,10125
249000205,20141015T000000,1537000.0,5,3.75,4470,8088,2.0,0,0,3,11,4470,0,2008,0,98004,47.6321,-122.200,2780,8964
7936000429,20150326T000000,1007500.0,4,3.50,3510,7200,2.0,0,0,3,9,2600,910,2009,0,98136,47.5537,-122.398,2050,6200

In [ ]:
df[df['condition']>=5]

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
id,,,,,,,,,,,,,,,,,,,,
2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
1202000200,20141103T000000,233000.0,3,2.00,1710,4697,1.5,0,0,5,6,1710,0,1941,0,98002,47.3048,-122.218,1030,4705
3303700376,20141201T000000,667000.0,3,1.00,1400,1581,1.5,0,0,5,8,1400,0,1909,0,98112,47.6221,-122.314,1860,3861
822039084,20150311T000000,1350000.0,3,2.50,2753,65005,1.0,1,2,5,9,2165,588,1953,0,98070,47.4041,-122.451,2680,72513
5072410070,20141021T000000,505000.0,3,1.75,2519,8690,2.0,0,0,5,8,2519,0,1973,0,98166,47.4428,-122.344,2500,9500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7518504130,20140626T000000,663000.0,3,2.00,1480,3876,1.0,0,0,5,7,860,620,1928,0,98117,47.6808,-122.382,1660,3774
3902100175,20140728T000000,850000.0,5,3.00,3900,5250,1.5,0,1,5,8,2620,1280,1931,0,98116,47.5577,-122.389,1950,5700
3449000060,20141001T000000,320000.0,3,1.00,1400,9000,1.0,0,0,5,7,1400,0,1959,0,98059,47.5022,-122.145,1440,8400
2888000030,20140926T000000,500000.0,4,2.25,2270,8196,1.0,0,0,5,7,1150,1120,1963,0,98034,47.7214,-122.227,1920,10122
522059130,20150429T000000,465000.0,3,1.00,1150,18200,1.0,0,0,5,7,1150,0,1959,0,98058,47.4262,-122.187,1714,18200

In [ ]:
df[df['condition']<=1]

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
id,,,,,,,,,,,,,,,,,,,,
9435300030,20140528T000000,550000.0,4,1.00,1660,34848,1.0,0,0,1,5,930,730,1933,0,98052,47.6621,-122.132,2160,11467
1726059053,20140916T000000,270000.0,2,1.50,1380,209959,1.0,0,0,1,6,1380,0,1954,0,98011,47.7461,-122.195,3130,19868
5175800060,20140623T000000,365000.0,4,2.00,1940,25600,1.0,0,0,1,8,1940,0,1962,0,98006,47.5722,-122.129,2000,10071
5694000710,20141107T000000,352950.0,3,1.00,1760,3000,1.5,0,0,1,6,1760,0,1900,0,98103,47.6598,-122.348,1320,1266
913000340,20150102T000000,252000.0,1,1.00,680,1638,1.0,0,4,1,6,680,0,1910,1992,98116,47.5832,-122.399,1010,3621
3886902445,20150316T000000,535000.0,2,1.00,920,9000,1.0,0,0,1,6,920,0,1954,0,98033,47.6831,-122.189,1760,8400
9187200245,20141231T000000,441000.0,4,1.50,1100,3300,1.0,0,0,1,7,1100,0,1919,0,98122,47.6033,-122.295,2020,4000
723049596,20140509T000000,255000.0,2,1.00,810,7980,1.0,0,0,1,6,810,0,1928,0,98146,47.4890,-122.337,1440,7980
6324000090,20150511T000000,210000.0,2,1.00,990,8140,1.0,0,0,1,6,990,0,1910,0,98116,47.5828,-122.382,2150,5000
859000110,20141002T000000,125000.0,1,1.00,500,7440,1.0,0,0,1,5,500,0,1928,0,98106,47.5252,-122.362,1350,7440
9275200080,20141107T000000,295000.0,3,1.50,720,7450,1.0,0,1,1,5,720,0,1924,0,98126,47.5840,-122.375,2600,7360
4008400515,20150120T000000,190000.0,1,0.75,780,77603,1.0,0,0,1,5,780,0,1945,0,98058,47.4396,-122.104,1750,30847
2570600140,20150128T000000,196000.0,3,2.25,1510,9600,1.0,0,0,1,7,1090,420,1966,0,98028,47.7758,-122.238,1870,10681
4022900951,20150402T000000,305000.0,2,1.00,910,22725,1.0,0,0,1,6,910,0,1926,0,98155,47.7712,-122.299,2000,14566
4006000281,20140729T000000,227000.0,3,1.75,2380,12681,1.0,0,0,1,6,1380,1000,1918,0,98118,47.5294,-122.279,1720,6377
2023049218,20140716T000000,105500.0,2,1.00,930,7740,1.0,0,0,1,5,930,0,1932,0,98148,47.4611,-122.324,1620,8584
2023049218,20150316T000000,445000.0,2,1.00,930,7740,1.0,0,0,1,5,930,0,1932,0,98148,47.4611,-122.324,1620,8584
9187200095,20141202T000000,432500.0,6,2.00,3080,5500,2.0,0,0,1,7,3080,0,1900,0,98122,47.6031,-122.296,1830,5000
40000362,20140506T000000,78000.0,2,1.00,780,16344,1.0,0,0,1,5,780,0,1942,0,98168,47.4739,-122.280,1700,10387
7849200635,20140630T000000,235000.0,2,1.00,900,28800,1.0,0,0,1,6,900,0,1928,0,98065,47.5245,-121.822,1360,7200
7936500221,20150114T000000,658000.0,2,1.00,1010,14244,1.0,1,4,1,5,1010,0,1926,0,98136,47.5476,-122.399,1820,15792
3089000005,20140724T000000,150000.0,2,1.00,850,54000,1.5,0,0,1,4,850,0,1950,0,98023,47.2959,-122.377,1550,14440
3028200080,20150324T000000,81000.0,2,1.00,730,9975,1.0,0,0,1,5,730,0,1943,0,98168,47.4808,-122.315,860,9000
3501100050,20141210T000000,125000.0,3,1.00,1230,4800,1.5,0,0,1,6,1230,0,1916,0,98117,47.6941,-122.365,1230,4800
5015001680,20140611T000000,427000.0,4,1.00,1860,4736,1.5,0,0,1,7,1860,0,1901,0,98112,47.6251,-122.300,1800,4000
2206900065,20150501T000000,380000.0,3,1.50,1430,11173,1.0,0,0,1,7,1430,0,1955,0,98006,47.5734,-122.153,1520,11659
9272202260,20140924T000000,130000.0,3,1.00,1200,7000,2.0,0,0,1,7,1200,0,1908,0,98116,47.5883,-122.384,3290,6000
7942600910,20141216T000000,575000.0,1,1.00,1310,8667,1.5,0,0,1,6,1310,0,1918,0,98122,47.6059,-122.313,1130,4800
9808700025,20150211T000000,1500000.0,3,1.50,1910,21374,1.0,0,0,1,8,1910,0,1955,0,98004,47.6453,-122.214,2850,16167
3980300371,20140926T000000,142000.0,0,0.00,290,20875,1.0,0,0,1,1,290,0,1963,0,98024,47.5308,-121.888,1620,22850

In [ ]:
#5 star rated houses + 2 floors
df[(df['condition']==5) & (df['floors']==2)]

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
id,,,,,,,,,,,,,,,,,,,,
5072410070,20141021T000000,505000.0,3,1.75,2519,8690,2.0,0,0,5,8,2519,0,1973,0,98166,47.4428,-122.344,2500,9500
2331300505,20140613T000000,822500.0,5,3.50,2320,4960,2.0,0,0,5,7,1720,600,1926,0,98103,47.6763,-122.352,1700,4960
3127200041,20140613T000000,589000.0,4,3.00,2440,9600,2.0,0,0,5,7,2440,0,1961,0,98034,47.7044,-122.200,2290,9600
7424700045,20150513T000000,2050000.0,5,3.00,3830,8480,2.0,0,1,5,9,2630,1200,1905,1994,98122,47.6166,-122.287,3050,7556
9297300045,20140709T000000,550000.0,3,2.00,1970,4166,2.0,0,3,5,8,1270,700,1929,0,98126,47.5717,-122.375,2390,4166
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3528900330,20140707T000000,1450000.0,4,3.25,3770,4103,2.0,0,0,5,9,2710,1060,1925,0,98109,47.6410,-122.349,2560,4160
6822100155,20140512T000000,630000.0,4,2.00,1770,6000,2.0,0,0,5,7,1770,0,1911,1981,98199,47.6493,-122.401,1340,6000
3529300330,20141107T000000,370000.0,3,2.50,1980,6922,2.0,0,0,5,8,1980,0,1991,0,98031,47.3960,-122.184,2090,7697
4137020820,20141027T000000,268000.0,4,3.00,1840,7510,2.0,0,0,5,8,1840,0,1988,2013,98092,47.2595,-122.218,1650,7957
3271800910,20140701T000000,1356920.0,4,3.50,4270,5800,2.0,0,3,5,10,3170,1100,1937,0,98199,47.6474,-122.411,3100,5800

In [ ]:
f1 = df['price']>1000000
f2 = df['condition']==5
f3 = df['floors']==2
df[f1&f2&f3]

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
id,,,,,,,,,,,,,,,,,,,,
7424700045,20150513T000000,2050000.0,5,3.00,3830,8480,2.0,0,1,5,9,2630,1200,1905,1994,98122,47.6166,-122.287,3050,7556
1860600135,20140502T000000,2384000.0,5,2.50,3650,9050,2.0,0,4,5,10,3370,280,1921,0,98119,47.6345,-122.367,2880,5400
1373800295,20141013T000000,1450000.0,3,3.00,4380,6320,2.0,0,3,5,10,3580,800,1952,0,98199,47.6452,-122.411,3080,7680
6379500640,20150409T000000,1120000.0,3,1.50,3000,5750,2.0,0,0,5,9,2000,1000,1924,0,98116,47.5821,-122.390,1820,5750
7613700521,20140802T000000,1250000.0,4,3.25,3160,5000,2.0,0,0,5,9,2360,800,1965,0,98105,47.6597,-122.274,2220,4000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1337800220,20140908T000000,1003000.0,4,2.50,2230,3600,2.0,0,0,5,8,1630,600,1906,0,98112,47.6304,-122.309,2410,4800
1525059198,20140521T000000,1185000.0,3,2.25,2760,40946,2.0,0,0,5,10,2760,0,1978,0,98005,47.6501,-122.164,3030,42253
6613000375,20150317T000000,1550000.0,4,3.50,3260,5000,2.0,0,0,5,9,2630,630,1937,0,98105,47.6598,-122.273,2600,5000
3528900330,20140707T000000,1450000.0,4,3.25,3770,4103,2.0,0,0,5,9,2710,1060,1925,0,98109,47.6410,-122.349,2560,4160
3271800910,20140701T000000,1356920.0,4,3.50,4270,5800,2.0,0,3,5,10,3170,1100,1937,0,98199,47.6474,-122.411,3100,5800

In [ ]:
#df[f1 & f2 & f3].reset_index().style.highlight_max(color='blue')
df[f1 & f2 & f3].reset_index().style.background_gradient(cmap='GnBu')

In [ ]:
df[f1 & f2 & f3].reset_index().style.set_properties(color='red',subset=['price'])

In [ ]:
#query
df.query('price>2500000')

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
id,,,,,,,,,,,,,,,,,,,,
7960900060,20150504T000000,2900000.0,4,3.25,5050,20100,1.5,0,2,3,11,4750,300,1982,2008,98004,47.6312,-122.223,3890,20060
3225069065,20140624T000000,3075000.0,4,5.00,4550,18641,1.0,1,4,3,10,2600,1950,2002,0,98074,47.6053,-122.077,4550,19508
3760500116,20141120T000000,3070000.0,3,2.50,3930,55867,1.0,1,4,4,8,2330,1600,1957,0,98034,47.7022,-122.224,2730,26324
1247600105,20141020T000000,5110800.0,5,5.25,8010,45517,2.0,1,4,3,12,5990,2020,1999,0,98033,47.6767,-122.211,3430,26788
7558700030,20150413T000000,5300000.0,6,6.00,7390,24829,2.0,1,4,4,12,5000,2390,1991,0,98040,47.5631,-122.210,4320,24619
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9808100150,20150402T000000,3345000.0,5,3.75,5350,15360,1.0,0,1,3,11,3040,2310,2008,0,98004,47.6480,-122.218,3740,15940
1370800515,20141030T000000,2950000.0,4,4.25,4470,5884,2.0,0,1,3,11,3230,1240,2010,0,98199,47.6387,-122.405,2570,6000
6447300365,20141113T000000,2900000.0,5,4.00,5190,14600,2.0,0,1,3,11,5190,0,2013,0,98039,47.6102,-122.225,3840,19250
8964800330,20150407T000000,3000000.0,4,3.75,5090,14823,1.0,0,0,3,11,4180,910,2013,0,98004,47.6200,-122.207,3030,12752
9253900271,20150107T000000,3567000.0,5,4.50,4850,10584,2.0,1,4,3,10,3540,1310,2007,0,98008,47.5943,-122.110,3470,18270

In [ ]:
df.query('price>2500000 & condition ==5').sort_values('price')

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
id,,,,,,,,,,,,,,,,,,,,
9471200370,20150330T000000,2537000.0,4,3.00,3710,20000,2.0,0,2,5,10,2760,950,1936,0,98105,47.6696,-122.261,3970,20000
9185700485,20150401T000000,2538000.0,4,3.50,4350,6000,2.0,0,0,5,10,2970,1380,1908,0,98112,47.6277,-122.286,4190,7200
1954700410,20140801T000000,2546000.0,4,3.00,4190,8805,2.5,0,2,5,9,3490,700,1928,0,98112,47.6181,-122.284,3780,8558
1069000070,20150415T000000,2795000.0,5,3.25,4590,12793,2.0,0,2,5,11,3590,1000,1928,0,98199,47.6453,-122.410,2920,8609
6065300840,20150501T000000,2850000.0,4,4.00,5040,17208,1.0,0,0,5,10,2870,2170,1976,0,98006,47.5701,-122.188,4050,18647
5317100750,20140711T000000,2920000.0,4,4.75,4575,24085,2.5,0,2,5,10,3905,670,1926,0,98112,47.6263,-122.284,3900,9687
6613000930,20140902T000000,2950000.0,4,3.25,3890,25470,2.0,1,3,5,10,3030,860,1923,0,98105,47.6608,-122.269,4140,19281
3761100045,20140618T000000,3000000.0,4,4.25,4850,12445,2.0,1,4,5,10,3850,1000,1989,0,98034,47.7011,-122.244,3350,12210
1732800780,20150212T000000,3065000.0,5,3.00,4150,7500,2.5,0,4,5,11,3510,640,1909,0,98119,47.6303,-122.362,2250,4050
7159200005,20140507T000000,3200000.0,7,4.50,6210,8856,2.5,0,2,5,11,4760,1450,1910,0,98109,47.6307,-122.354,2940,5400
1346300150,20141020T000000,3300000.0,8,4.00,7710,11750,3.5,0,0,5,12,6090,1620,1904,0,98112,47.6263,-122.314,4210,8325
4217402115,20150421T000000,3650000.0,6,4.75,5480,19401,1.5,1,4,5,11,3910,1570,1936,0,98105,47.6515,-122.277,3510,15810

### manipulation n cleaning
- removing columns
- renaming columns
- adding columns
- changing data types
- handling missing values
- dropping missing values
- using `apply()` method

In [ ]:
df.columns

Index(['date', 'price', 'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot',
       'floors', 'waterfront', 'view', 'condition', 'grade', 'sqft_above',
       'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode', 'lat', 'long',
       'sqft_living15', 'sqft_lot15'],
      dtype='object')

In [ ]:
cols_to_drop = ['sqft_living','sqft_lot15']
df=df.drop(columns= cols_to_drop)
df

,date,price,bedrooms,bathrooms,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15
id,,,,,,,,,,,,,,,,,,
7129300520,20141013T000000,221900.0,3,1.00,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340
6414100192,20141209T000000,538000.0,3,2.25,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,1690
5631500400,20150225T000000,180000.0,2,1.00,10000,1.0,0,0,3,6,770,0,1933,0,98028,47.7379,-122.233,2720
2487200875,20141209T000000,604000.0,4,3.00,5000,1.0,0,0,5,7,1050,910,1965,0,98136,47.5208,-122.393,1360
1954400510,20150218T000000,510000.0,3,2.00,8080,1.0,0,0,3,8,1680,0,1987,0,98074,47.6168,-122.045,1800
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
263000018,20140521T000000,360000.0,3,2.50,1131,3.0,0,0,3,8,1530,0,2009,0,98103,47.6993,-122.346,1530
6600060120,20150223T000000,400000.0,4,2.50,5813,2.0,0,0,3,8,2310,0,2014,0,98146,47.5107,-122.362,1830
1523300141,20140623T000000,402101.0,2,0.75,1350,2.0,0,0,3,7,1020,0,2009,0,98144,47.5944,-122.299,1020
291310100,20150116T000000,400000.0,3,2.50,2388,2.0,0,0,3,8,1600,0,2004,0,98027,47.5345,-122.069,1410
1523300157,20141015T000000,325000.0,2,0.75,1076,2.0,0,0,3,7,1020,0,2008,0,98144,47.5941,-122.299,1020

In [ ]:
rows_t0_drop = range(1000)
df.drop(index = rows_t0_drop)

KeyError: '[0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27\n 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51\n 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75\n 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99\n 100 101 102 103 104 105 106 107 108 109 110 111 112 113 114 115 116 117\n 118 119 120 121 122 123 124 125 126 127 128 129 130 131 132 133 134 135\n 136 137 138 139 140 141 142 143 144 145 146 147 148 149 150 151 152 153\n 154 155 156 157 158 159 160 161 162 163 164 165 166 167 168 169 170 171\n 172 173 174 175 176 177 178 179 180 181 182 183 184 185 186 187 188 189\n 190 191 192 193 194 195 196 197 198 199 200 201 202 203 204 205 206 207\n 208 209 210 211 212 213 214 215 216 217 218 219 220 221 222 223 224 225\n 226 227 228 229 230 231 232 233 234 235 236 237 238 239 240 241 242 243\n 244 245 246 247 248 249 250 251 252 253 254 255 256 257 258 259 260 261\n 262 263 264 265 266 267 268 269 270 271 272 273 274 275 276 277 278 279\n 280 281 282 283 284 285 286 287 288 289 290 291 292 293 294 295 296 297\n 298 299 300 301 302 303 304 305 306 307 308 309 310 311 312 313 314 315\n 316 317 318 319 320 321 322 323 324 325 326 327 328 329 330 331 332 333\n 334 335 336 337 338 339 340 341 342 343 344 345 346 347 348 349 350 351\n 352 353 354 355 356 357 358 359 360 361 362 363 364 365 366 367 368 369\n 370 371 372 373 374 375 376 377 378 379 380 381 382 383 384 385 386 387\n 388 389 390 391 392 393 394 395 396 397 398 399 400 401 402 403 404 405\n 406 407 408 409 410 411 412 413 414 415 416 417 418 419 420 421 422 423\n 424 425 426 427 428 429 430 431 432 433 434 435 436 437 438 439 440 441\n 442 443 444 445 446 447 448 449 450 451 452 453 454 455 456 457 458 459\n 460 461 462 463 464 465 466 467 468 469 470 471 472 473 474 475 476 477\n 478 479 480 481 482 483 484 485 486 487 488 489 490 491 492 493 494 495\n 496 497 498 499 500 501 502 503 504 505 506 507 508 509 510 511 512 513\n 514 515 516 517 518 519 520 521 522 523 524 525 526 527 528 529 530 531\n 532 533 534 535 536 537 538 539 540 541 542 543 544 545 546 547 548 549\n 550 551 552 553 554 555 556 557 558 559 560 561 562 563 564 565 566 567\n 568 569 570 571 572 573 574 575 576 577 578 579 580 581 582 583 584 585\n 586 587 588 589 590 591 592 593 594 595 596 597 598 599 600 601 602 603\n 604 605 606 607 608 609 610 611 612 613 614 615 616 617 618 619 620 621\n 622 623 624 625 626 627 628 629 630 631 632 633 634 635 636 637 638 639\n 640 641 642 643 644 645 646 647 648 649 650 651 652 653 654 655 656 657\n 658 659 660 661 662 663 664 665 666 667 668 669 670 671 672 673 674 675\n 676 677 678 679 680 681 682 683 684 685 686 687 688 689 690 691 692 693\n 694 695 696 697 698 699 700 701 702 703 704 705 706 707 708 709 710 711\n 712 713 714 715 716 717 718 719 720 721 722 723 724 725 726 727 728 729\n 730 731 732 733 734 735 736 737 738 739 740 741 742 743 744 745 746 747\n 748 749 750 751 752 753 754 755 756 757 758 759 760 761 762 763 764 765\n 766 767 768 769 770 771 772 773 774 775 776 777 778 779 780 781 782 783\n 784 785 786 787 788 789 790 791 792 793 794 795 796 797 798 799 800 801\n 802 803 804 805 806 807 808 809 810 811 812 813 814 815 816 817 818 819\n 820 821 822 823 824 825 826 827 828 829 830 831 832 833 834 835 836 837\n 838 839 840 841 842 843 844 845 846 847 848 849 850 851 852 853 854 855\n 856 857 858 859 860 861 862 863 864 865 866 867 868 869 870 871 872 873\n 874 875 876 877 878 879 880 881 882 883 884 885 886 887 888 889 890 891\n 892 893 894 895 896 897 898 899 900 901 902 903 904 905 906 907 908 909\n 910 911 912 913 914 915 916 917 918 919 920 921 922 923 924 925 926 927\n 928 929 930 931 932 933 934 935 936 937 938 939 940 941 942 943 944 945\n 946 947 948 949 950 951 952 953 954 955 956 957 958 959 960 961 962 963\n 964 965 966 967 968 969 970 971 972 973 974 975 976 977 978 979 980 981\n 982 983 984 985 986 987 988 989 990 991 992 993 994 995 996 997 998 999] not found in axis'

In [ ]:
df.drop(labels=[7129300520])

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
id,,,,,,,,,,,,,,,,,,,,
6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
7237550310,20140512T000000,1225000.0,4,4.50,5420,101930,1.0,0,0,3,11,3890,1530,2001,0,98053,47.6561,-122.005,4760,101930
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
263000018,20140521T000000,360000.0,3,2.50,1530,1131,3.0,0,0,3,8,1530,0,2009,0,98103,47.6993,-122.346,1530,1509
6600060120,20150223T000000,400000.0,4,2.50,2310,5813,2.0,0,0,3,8,2310,0,2014,0,98146,47.5107,-122.362,1830,7200
1523300141,20140623T000000,402101.0,2,0.75,1020,1350,2.0,0,0,3,7,1020,0,2009,0,98144,47.5944,-122.299,1020,2007
291310100,20150116T000000,400000.0,3,2.50,1600,2388,2.0,0,0,3,8,1600,0,2004,0,98027,47.5345,-122.069,1410,1287
1523300157,20141015T000000,325000.0,2,0.75,1020,1076,2.0,0,0,3,7,1020,0,2008,0,98144,47.5941,-122.299,1020,1357

In [ ]:
df.drop_duplicates(subset=['floors'])   #alwaysuse a subset column

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
id,,,,,,,,,,,,,,,,,,,,
7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
114101516,20140528T000000,310000.0,3,1.00,1430,19901,1.5,0,0,4,7,1430,0,1927,0,98028,47.7558,-122.229,1780,12697
2426039314,20141201T000000,280000.0,2,1.50,1190,1265,3.0,0,0,3,7,1190,0,2005,0,98133,47.7274,-122.357,1390,1756
2625069070,20150410T000000,1385000.0,4,3.25,4860,181319,2.5,0,0,3,9,4860,0,1993,0,98074,47.6179,-122.005,3850,181319
6306400140,20140612T000000,1095000.0,0,0.00,3064,4764,3.5,0,2,3,7,3064,0,1990,0,98102,47.6362,-122.322,2360,4000

In [ ]:
df.dropna() # remove rows with Nan values

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
id,,,,,,,,,,,,,,,,,,,,
7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
263000018,20140521T000000,360000.0,3,2.50,1530,1131,3.0,0,0,3,8,1530,0,2009,0,98103,47.6993,-122.346,1530,1509
6600060120,20150223T000000,400000.0,4,2.50,2310,5813,2.0,0,0,3,8,2310,0,2014,0,98146,47.5107,-122.362,1830,7200
1523300141,20140623T000000,402101.0,2,0.75,1020,1350,2.0,0,0,3,7,1020,0,2009,0,98144,47.5944,-122.299,1020,2007
291310100,20150116T000000,400000.0,3,2.50,1600,2388,2.0,0,0,3,8,1600,0,2004,0,98027,47.5345,-122.069,1410,1287
1523300157,20141015T000000,325000.0,2,0.75,1020,1076,2.0,0,0,3,7,1020,0,2008,0,98144,47.5941,-122.299,1020,1357

In [ ]:
# renaming columns
df.columns

Index(['date', 'price', 'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot',
       'floors', 'waterfront', 'view', 'condition', 'grade', 'sqft_above',
       'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode', 'lat', 'long',
       'sqft_living15', 'sqft_lot15'],
      dtype='object')

In [ ]:
name_update = {
    'lat':'latitude',
    'long': 'longitude'
}
df.rename(columns=name_update)

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,latitude,longitude,sqft_living15,sqft_lot15
id,,,,,,,,,,,,,,,,,,,,
7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
263000018,20140521T000000,360000.0,3,2.50,1530,1131,3.0,0,0,3,8,1530,0,2009,0,98103,47.6993,-122.346,1530,1509
6600060120,20150223T000000,400000.0,4,2.50,2310,5813,2.0,0,0,3,8,2310,0,2014,0,98146,47.5107,-122.362,1830,7200
1523300141,20140623T000000,402101.0,2,0.75,1020,1350,2.0,0,0,3,7,1020,0,2009,0,98144,47.5944,-122.299,1020,2007
291310100,20150116T000000,400000.0,3,2.50,1600,2388,2.0,0,0,3,8,1600,0,2004,0,98027,47.5345,-122.069,1410,1287
1523300157,20141015T000000,325000.0,2,0.75,1020,1076,2.0,0,0,3,7,1020,0,2008,0,98144,47.5941,-122.299,1020,1357

In [ ]:
# dummy column add
df['dummy'] ="house_price" 
df

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,...,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,dummy
id,,,,,,,,,,,,,,,,,,,,,
7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,3,...,1180,0,1955,0,98178,47.5112,-122.257,1340,5650,house_price
6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,3,...,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639,house_price
5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,3,...,770,0,1933,0,98028,47.7379,-122.233,2720,8062,house_price
2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,5,...,1050,910,1965,0,98136,47.5208,-122.393,1360,5000,house_price
1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,3,...,1680,0,1987,0,98074,47.6168,-122.045,1800,7503,house_price
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
263000018,20140521T000000,360000.0,3,2.50,1530,1131,3.0,0,0,3,...,1530,0,2009,0,98103,47.6993,-122.346,1530,1509,house_price
6600060120,20150223T000000,400000.0,4,2.50,2310,5813,2.0,0,0,3,...,2310,0,2014,0,98146,47.5107,-122.362,1830,7200,house_price
1523300141,20140623T000000,402101.0,2,0.75,1020,1350,2.0,0,0,3,...,1020,0,2009,0,98144,47.5944,-122.299,1020,2007,house_price
291310100,20150116T000000,400000.0,3,2.50,1600,2388,2.0,0,0,3,...,1600,0,2004,0,98027,47.5345,-122.069,1410,1287,house_price
1523300157,20141015T000000,325000.0,2,0.75,1020,1076,2.0,0,0,3,...,1020,0,2008,0,98144,47.5941,-122.299,1020,1357,house_price

In [ ]:
df['age']= 2024 - df['yr_built']
df

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,...,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,dummy,age
id,,,,,,,,,,,,,,,,,,,,,
7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,3,...,0,1955,0,98178,47.5112,-122.257,1340,5650,house_price,69
6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,3,...,400,1951,1991,98125,47.7210,-122.319,1690,7639,house_price,73
5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,3,...,0,1933,0,98028,47.7379,-122.233,2720,8062,house_price,91
2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,5,...,910,1965,0,98136,47.5208,-122.393,1360,5000,house_price,59
1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,3,...,0,1987,0,98074,47.6168,-122.045,1800,7503,house_price,37
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
263000018,20140521T000000,360000.0,3,2.50,1530,1131,3.0,0,0,3,...,0,2009,0,98103,47.6993,-122.346,1530,1509,house_price,15
6600060120,20150223T000000,400000.0,4,2.50,2310,5813,2.0,0,0,3,...,0,2014,0,98146,47.5107,-122.362,1830,7200,house_price,10
1523300141,20140623T000000,402101.0,2,0.75,1020,1350,2.0,0,0,3,...,0,2009,0,98144,47.5944,-122.299,1020,2007,house_price,15
291310100,20150116T000000,400000.0,3,2.50,1600,2388,2.0,0,0,3,...,0,2004,0,98027,47.5345,-122.069,1410,1287,house_price,20
1523300157,20141015T000000,325000.0,2,0.75,1020,1076,2.0,0,0,3,...,0,2008,0,98144,47.5941,-122.299,1020,1357,house_price,16

In [ ]:
#rearrange columns
print(df.columns.tolist())

['date', 'price', 'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade', 'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode', 'lat', 'long', 'sqft_living15', 'sqft_lot15', 'dummy', 'age']

In [76]:
#paste the list and reaarange columns as per our choice
columns_seq = [ 'price','date', 'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors', 'waterfront', 'view', 'grade', 'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode', 'condition','age', 'lat', 'long', 'sqft_living15', 'sqft_lot15', 'dummy']
df = df[columns_seq]
df.head()

,price,date,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,grade,...,yr_built,yr_renovated,zipcode,condition,age,lat,long,sqft_living15,sqft_lot15,dummy
id,,,,,,,,,,,,,,,,,,,,,
7129300520,221900.0,20141013T000000,3,1.00,1180,5650,1.0,0,0,3,...,0,1955,0,47.5112,98178,-122.257,1340,5650,house_price,69
6414100192,538000.0,20141209T000000,3,2.25,2570,7242,2.0,0,0,3,...,400,1951,1991,47.7210,98125,-122.319,1690,7639,house_price,73
5631500400,180000.0,20150225T000000,2,1.00,770,10000,1.0,0,0,3,...,0,1933,0,47.7379,98028,-122.233,2720,8062,house_price,91
2487200875,604000.0,20141209T000000,4,3.00,1960,5000,1.0,0,0,5,...,910,1965,0,47.5208,98136,-122.393,1360,5000,house_price,59
1954400510,510000.0,20150218T000000,3,2.00,1680,8080,1.0,0,0,3,...,0,1987,0,47.6168,98074,-122.045,1800,7503,house_price,37

In [77]:
df.drop(columns=['dummy'])

,price,date,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,grade,...,sqft_basement,yr_built,yr_renovated,zipcode,condition,age,lat,long,sqft_living15,sqft_lot15
id,,,,,,,,,,,,,,,,,,,,,
7129300520,221900.0,20141013T000000,3,1.00,1180,5650,1.0,0,0,3,...,1180,0,1955,0,47.5112,98178,-122.257,1340,5650,house_price
6414100192,538000.0,20141209T000000,3,2.25,2570,7242,2.0,0,0,3,...,2170,400,1951,1991,47.7210,98125,-122.319,1690,7639,house_price
5631500400,180000.0,20150225T000000,2,1.00,770,10000,1.0,0,0,3,...,770,0,1933,0,47.7379,98028,-122.233,2720,8062,house_price
2487200875,604000.0,20141209T000000,4,3.00,1960,5000,1.0,0,0,5,...,1050,910,1965,0,47.5208,98136,-122.393,1360,5000,house_price
1954400510,510000.0,20150218T000000,3,2.00,1680,8080,1.0,0,0,3,...,1680,0,1987,0,47.6168,98074,-122.045,1800,7503,house_price
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
263000018,360000.0,20140521T000000,3,2.50,1530,1131,3.0,0,0,3,...,1530,0,2009,0,47.6993,98103,-122.346,1530,1509,house_price
6600060120,400000.0,20150223T000000,4,2.50,2310,5813,2.0,0,0,3,...,2310,0,2014,0,47.5107,98146,-122.362,1830,7200,house_price
1523300141,402101.0,20140623T000000,2,0.75,1020,1350,2.0,0,0,3,...,1020,0,2009,0,47.5944,98144,-122.299,1020,2007,house_price
291310100,400000.0,20150116T000000,3,2.50,1600,2388,2.0,0,0,3,...,1600,0,2004,0,47.5345,98027,-122.069,1410,1287,house_price
1523300157,325000.0,20141015T000000,2,0.75,1020,1076,2.0,0,0,3,...,1020,0,2008,0,47.5941,98144,-122.299,1020,1357,house_price

In [78]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 21613 entries, 7129300520 to 1523300157
Data columns (total 22 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   price          21613 non-null  float64
 1   date           21613 non-null  object
 2   bedrooms       21613 non-null  int64
 3   bathrooms      21613 non-null  float64
 4   sqft_living    21613 non-null  int64
 5   sqft_lot       21613 non-null  int64
 6   floors         21613 non-null  float64
 7   waterfront     21613 non-null  int64
 8   view           21613 non-null  int64
 9   grade          21613 non-null  int64
 10  sqft_above     21613 non-null  int64
 11  sqft_basement  21613 non-null  int64
 12  yr_built       21613 non-null  int64
 13  yr_renovated   21613 non-null  int64
 14  zipcode        21613 non-null  int64
 15  condition      21613 non-null  float64
 16  age            21613 non-null  int64
 17  lat            21613 non-null  float64
 18  long           21613 non-null  int64
 19  sqft_living15  21613 non-null  int64
 20  sqft_lot15     21613 non-null  object
 21  dummy          21613 non-null  int64
dtypes: float64(5), int64(15), object(2)
memory usage: 4.3+ MB

In [79]:
df.floors.dtype

dtype('float64')

In [80]:
df.floors.astype('int')

id
7129300520    1
6414100192    2
5631500400    1
2487200875    1
1954400510    1
             ..
263000018     3
6600060120    2
1523300141    2
291310100     2
1523300157    2
Name: floors, Length: 21613, dtype: int32

In [81]:
df.floors = df.floors.astype('int')
df.head()

,price,date,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,grade,...,yr_built,yr_renovated,zipcode,condition,age,lat,long,sqft_living15,sqft_lot15,dummy
id,,,,,,,,,,,,,,,,,,,,,
7129300520,221900.0,20141013T000000,3,1.00,1180,5650,1,0,0,3,...,0,1955,0,47.5112,98178,-122.257,1340,5650,house_price,69
6414100192,538000.0,20141209T000000,3,2.25,2570,7242,2,0,0,3,...,400,1951,1991,47.7210,98125,-122.319,1690,7639,house_price,73
5631500400,180000.0,20150225T000000,2,1.00,770,10000,1,0,0,3,...,0,1933,0,47.7379,98028,-122.233,2720,8062,house_price,91
2487200875,604000.0,20141209T000000,4,3.00,1960,5000,1,0,0,5,...,910,1965,0,47.5208,98136,-122.393,1360,5000,house_price,59
1954400510,510000.0,20150218T000000,3,2.00,1680,8080,1,0,0,3,...,0,1987,0,47.6168,98074,-122.045,1800,7503,house_price,37

In [84]:
import numpy as np

In [85]:
fake_df = pd.DataFrame({
        'A':[1,2,3,4,5],
        'B':[6,7,np.nan,9,10],
        'C':[11,12,13,14,np.nan],
        'D':[16,17,np.nan,20,np.nan],
    }
)
fake_df

   A     B     C     D
0  1   6.0  11.0  16.0
1  2   7.0  12.0  17.0
2  3   NaN  13.0   NaN
3  4   9.0  14.0  20.0
4  5  10.0   NaN   NaN

In [86]:
fake_df.dropna()

   A    B     C     D
0  1  6.0  11.0  16.0
1  2  7.0  12.0  17.0
3  4  9.0  14.0  20.0

In [90]:
df.isnull()

,price,date,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,grade,...,yr_built,yr_renovated,zipcode,condition,age,lat,long,sqft_living15,sqft_lot15,dummy
id,,,,,,,,,,,,,,,,,,,,,
7129300520,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
6414100192,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
5631500400,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2487200875,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1954400510,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
263000018,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
6600060120,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1523300141,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
291310100,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1523300157,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [91]:
df.isnull().sum()

price            0
date             0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
grade            0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
zipcode          0
condition        0
age              0
lat              0
long             0
sqft_living15    0
sqft_lot15       0
dummy            0
dtype: int64

In [92]:
fake_df.isnull().sum()

A    0
B    1
C    1
D    2
dtype: int64

In [94]:
fake_df.fillna(0)  #fill the value of nan place

   A     B     C     D
0  1   6.0  11.0  16.0
1  2   7.0  12.0  17.0
2  3   0.0  13.0   0.0
3  4   9.0  14.0  20.0
4  5  10.0   0.0   0.0

In [96]:
b_mean = fake_df['B'].mean()
fake_df.B = fake_df.B.replace(np.nan,b_mean)
fake_df

   A     B     C     D
0  1   6.0  11.0  16.0
1  2   7.0  12.0  17.0
2  3   8.0  13.0   NaN
3  4   9.0  14.0  20.0
4  5  10.0   NaN   NaN

In [97]:
fake_df.D = fake_df.D.fillna(fake_df.D.mean()) #fill with mean
fake_df

   A     B     C          D
0  1   6.0  11.0  16.000000
1  2   7.0  12.0  17.000000
2  3   8.0  13.0  17.666667
3  4   9.0  14.0  20.000000
4  5  10.0   NaN  17.666667